* {
	margin:0;
	padding-top:0%;
	
}
body  {
	font-family:Cochin, Helvetica, sans-serif;
	font-size:20px;
	color:#505a5d;
	background: #FFF url(images/templateBackground.jpg) repeat-x left top;
}
h1 {
color:#006699;
	font-size:34px;
	padding-left:32%;
	
}
h2{
	color: #003366;
	font-size:22px;
	}
	
a {
	color:#5caddc;
	text-decoration:underline;
}
a:hover {
	color:#5caddc;
	text-decoration:underline;
}
#container { 
	width: 75%;  
	margin: auto;
	background-color:#FFFFFF;
	
} 
#header { 
padding-top:5%;
font-size:24px;
font-family:Chalkduster, Helvetica, sans-serif;
}
#hpic {
padding-bottom:2%;
}
#logout
{
text-align:right;
padding-right:3%;
font-family:Comic Sans MS, Helvetica, sans-serif;
}

.headerTop {
}
.logo {
	float:left;
	color:#00b0e4;
	font-size:48px;
	padding:10px 0 0 20px;
}
.logo span {
	font-size:18px;
	color:#9aa0ab;
}
.logo img {
	border:0;
}
.search {
	margin-left:700px;
	padding:35px 20px 0 0;
}
.search input {
	height:24px;
}
.si {
	float:left;
	padding-top:10px;
}
.search img {
	border:0;
	padding-top:10px;
}
.mainMenu {
	margin-top:10px;
	background:url(images/menuBackground.jpg) repeat-x left top;
	height:40px;
	text-align:center;
	padding-top:1%;
}
.header h1 {
	padding-top:0px;
	font-size:34px;
	font-style:italic;
	
	padding-right:15%;
	}
.mainMenu h2 {
	padding-top:10px;
	font-size:15px;
	color:#000033;
	}
	
.mainMenu ul {
	margin:0;
	padding:13px 0 0 0;
}
.mainMenu li {
	list-style:none;
	display:inline;
	padding:20px;
	
}
.mainMenu a {
	padding-top:10px;
	font-size:25px;
	color:#000033;
	font-family:Comic Sans MS, Helvetica, sans-serif;
	
}
.mainMenu a:hover {
	font-size:25px;
	color:#085f75;
	text-decoration:none;
}
.mainMenu #active  a {
	font-size:18px;
	color:#085f75;
	text-decoration:none;
}
.headerPic {
	height:-40px;
	margin-bottom:23px;
	text-align:center;
}
.pics {
	padding:280px 0 0 0;
	margin-bottom:20px;
}
.allContent {
	margin:0 20px;
}
#sidebar1 {
	float: right; 
	width: 269px; 
	padding-right:10px;
	padding-top:5px;

}
input {
	border:10px 10px 10px 10px solid #b0b8c7;
}
.loginTitle {
	background:url(images/loginTitle.jpg) no-repeat left top;
	height:46px;
	width:269px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
}
.loginTitle .lT {
	padding:15px 0 0 40px;
}
.loginBody {
	background:#e7eded;
	padding:10px 20px;
	padding-right:10px;
}
.fr{
	float:left;
}
.ls {
	margin-left:160px;
	padding-top:10px;
}
.ls img {
	border:0;
}
.loginFooter {
	background:url(images/loginBottom.jpg) no-repeat left top;
	height:21px;
	width:269px;
}
#mainContent { 
	margin: 0 0 0 50px;
	padding:0 10px;
	font-size:18px;
	color:#000033;
	padding-bottom:3%;
	padding-left:10%;
    padding-right:10%;
} 

#mainContentlogin { 
	margin: 0 0 0 50px;
	padding:0 10px;
	font-size:18px;
	color:#000033;
	padding-bottom:3%;
} 


.center {
text-align:center;
}
#mainContent label {
font-weight:bold;
float:left;

padding-right:5%;

width:200px;


}
#footer {
	height:85px;
	text-align:center;
	padding-top:30px;
	background:url(images/footer.jpg) repeat-x left top;
	margin-top:20px;
    
} 
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.tb5 {
	background: url(images/rounded.gif) no-repeat top left;
	height: 22px;
	width: 230px;
		border: 0;
		margin-top:3px;
}
.tb5a {
	border: 0;
	width:220px;
	margin-top:3px;
}

#table
{
padding-left:25%;
padding-right:10%;
text-align:center;
}

#table1
{
padding-left:7%;
text-align:center;
}
#table2
{
padding-left:15%;
text-align:center;
}
